// KLC IDE - Windows Resource Script

// ========== 图标资源 ==========
1 ICON "icon.ico"

// ========== 版本信息 ==========
1 VERSIONINFO
FILEVERSION     0,8,4,0
PRODUCTVERSION  0,8,4,0
FILEFLAGSMASK   0x3fL
FILEFLAGS       0x0L
FILEOS          0x40004L      // VOS__WINDOWS32
FILETYPE        0x1L          // VFT_APP
FILESUBTYPE     0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"      // 简体中文(0804), Unicode(04b0)
        BEGIN
            VALUE "CompanyName",      "于仕初\0"
            VALUE "FileDescription",  "KLC编程语言集成开发环境\0"
            VALUE "FileVersion",      "0.8.4.0\0"
            VALUE "InternalName",     "KLC IDE\0"
            VALUE "LegalCopyright",   "Copyright (C) 2026 于仕初. All rights reserved.\0"
            VALUE "OriginalFilename", "klc.exe\0"
            VALUE "ProductName",      "KLC IDE\0"
            VALUE "ProductVersion",   "v0.8.4\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
